# Ignore arquivos de compilação e arquivos temporários
bin/
obj/

# Ignorar arquivos de usuário Visual Studio
.vscode/
.suo
.user
.suo
*.user
*.suo
*.userosscache

# Ignorar arquivos de configuração do NuGet
*.nuget.props
*.nuget.targets

# Ignorar arquivos de log e banco de dados
*.log
*.sqlite
